<div class="px-12 pt-4 pb-12">
  <div
    class="py-10 px-40 bg-slate-800/50 border border-slate-700 bg-gradient-t-b from-primary/50 rounded-2xl text-center"
  >
    <h4 class="text-3xl font-semibold">
      {{heading}}
    </h4>

    <p class="mt-5 text-slate-300">
      {{description}}
    </p>

    <div class="mt-5 grid place-content-center">
      <a href="/app/register">
        <button
          class="btn primary px-6! py-3! rounded-full pointer-events-none"
        >
          <p>{{buttonLabel}}</p>
          <iconify-icon icon="lucide:circle-arrow-right"></iconify-icon>
        </button>
      </a>
    </div>
  </div>
</div>