<div class="px-12 pt-4 pb-12">
  <div
    class="py-10 px-40 bg-gradient-to-br from-tertiary-400 to-primary-700 rounded-2xl text-center"
  >
    <h4 class="text-3xl font-semibold">
      Ready To Take Control of Your Financial Future?
    </h4>

    <p class="mt-5">
      Let us help you achieve your financial goals with personalized strategies
      and expert advice. Schedule a free consultation today to start your
      journey toward financial freedom.
    </p>

    <div class="mt-5 grid place-content-center">
      <a href="/app/register">
        <button
          class="btn bg-white text-primary-500 transition-colors hover:bg-slate-100 px-6! py-3! rounded-full pointer-events-none"
        >
          <p>Create Account</p>
          <iconify-icon icon="lucide:circle-arrow-right"></iconify-icon>
        </button>
      </a>
    </div>
  </div>
</div>