<div class="p-3 grid place-content-center">
  <div id="main-header" class="main__header duration-200 ease-linear transition-all p-2 rounded-full w-fit">
    <div id="main-header-wrapper" class="main__header-wrapper w-full flex items-center justify-between transition-all duration-200" >
      <a href="/">
        <div class="flex items-center gap-2">
          <img src="/logo.png" width="24" />
          <p class="font-bold">AssetFusionX</p>
        </div>
      </a>

      <div class="flex items-center gap-4">
        <nav id="mega-menu"></nav>

        <button class="shrink-0 btn primary rounded-full">
          <iconify-icon icon="lucide:trending-up"></iconify-icon>
          <p class="text-sm">Start Investing</p>
        </button>
      </div>
    </div>
  </div>
</div>