<html>
  <head lang="en">
    {{!-- Meta tags --}}
    <meta charset="utf-8" />
    <meta name="description" content="Asset Fusion X - Your Asset Management Solution" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="/css/main.css" rel="stylesheet">

    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    {{!-- Iconify Icons --}}
    <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>

    <title>Asset Fusion X</title>
  </head>
  <body>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/686f79f8ca9b1d190e69dbe5/1ivpn8t56';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
    <!--End of Tawk.to Script-->

    {{> loaders/loader-initial}}
    {{> loaders/router-loader}}

    <header class="sticky top-0 z-50">
      {{> main/header}}
    </header>

    {{{body}}}

    <footer>
      {{> main/footer}}
    </footer>
    <script>
      const initialLoader = document.querySelector("#loader-initial");
      const routerLoader = document.querySelector("#router-loader");
      const hasSeenLoader = sessionStorage.getItem("seen-loader");

      window.onbeforeunload = function() {
        routerLoader.style.display = "flex";
      }

      document.addEventListener("readystatechange", function() {
        if (this.readyState !== "complete") {
          if (hasSeenLoader) {
            initialLoader.style.display = "none";
            routerLoader.style.display = "flex";
          } else {
            initialLoader.style.display = "flex"
            routerLoader.style.display = "none"
          }
          
        } else {
          initialLoader.style.display = "none";
          routerLoader.style.display = "none";
        }
      })
    </script> 
    <script src="/js/main.js" type="module"></script>
  </body>
</html>