<main>
  <div class="grid *:[grid-column:1/2] *:[grid-row:1/2]">
    <div class="flex flex-col items-center justify-center z-10">
      <div class="max-w-[32rem] text-center p-4 bg-slate-700/30 border border-white/50 backdrop-blur-[5px] rounded-xl">
        <h1 class="text-6xl font-medium">Partnerships</h1>

        <div class="mt-5">
          <p>
            Together, We Build the Future of Wealth Management.
          </p>
        </div>
      </div>
    </div>

    <div class="h-96">
      <img src="/img/pages/about/partnerships.jpg" class="h-full w-full object-cover" />
    </div>
  </div>

  <div>
    <div class="max-w-5xl mx-auto pt-12 px-4 sm:px-6 lg:px-8 space-y-12">
      <div class="text-center space-y-4">
        <h1 class="text-2xl font-extrabold text-tertiary-500">Partnerships that Power Progress</h1>
        <p class="text-slate-300 max-w-3xl mx-auto">At AssetFusionX, we know that meaningful innovation doesn't happen in isolation. Our platform is built on a foundation of deep collaboration with leading technology providers, financial institutions, and data intelligence firms who share our vision for frictionless investing and responsible wealth creation.</p>
      </div>
      <blockquote class="flex items-center justify-center w-full">
        <div class="max-w-[28rem] bg-slate-800 rounded-lg p-6 border border-white/10 text-slate-200 italic text-center">“The strength of our platform is a reflection of the extraordinary partners who help us imagine what's possible and bring it to life.”</div>
      </blockquote>
    </div>
  </div>

  <div class="my-16 py-8 bg-white overflow-x-hidden">
    <div id="partner-list-marquee">
      <div class="flex items-center">
        {{#each data.partners}}
          <div class="flex items-center gap-2 brightness-150 transition-transform saturate-0 hover:saturate-100 hover:scale-110 hover:brightness-100 mx-10">
            <img
              src="{{this.image}}" 
              alt="{{this.name}}" 
              width="100" 
            />
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="px-12 pb-12">
    <h4 class="text-xl font-semibold text-tertiary-500">What We Look for in a Partner</h4>
    <hr class="border-white/20 my-6" />
    <ul class="grid gap-4">
      <li class="flex items-center gap-2">
        <iconify-icon class="text-green-500" icon="lucide:badge-check"></iconify-icon>
        <p>Technological innovation that aligns with scalable architecture</p>
      </li>

      <li class="flex items-center gap-2">
        <iconify-icon class="text-green-500" icon="lucide:badge-check"></iconify-icon>
        <p>Commitment to security, compliance, and transparency</p>
      </li>

      <li class="flex items-center gap-2">
        <iconify-icon class="text-green-500" icon="lucide:badge-check"></iconify-icon>
        <p>Shared mission for empowering users financially</p>
      </li>

      <li class="flex items-center gap-2">
        <iconify-icon class="text-green-500" icon="lucide:badge-check"></iconify-icon>
        <p>Deep expertise and proven success in their respective domains</p>
      </li>
    </ul>
  </div>

  <div>
    {{> main/cta-banner}}
  </div>
</main>