<main>
  <div>
    {{> pages/home/hero}}
  </div>
  
  <div>
    {{> pages/home/partners}}
  </div>

  <div>
    {{> pages/home/investment-options}}
  </div>

  <div>
    {{> pages/home/why-choose-us}}
  </div>

  <div>
    {{> pages/home/features}}
  </div>

  <div>
    {{> pages/home/who-we-serve}}
  </div>

  <div>
    {{> main/cta-banner}}
  </div>
</main>