<main>
  <div class="grid *:[grid-column:1/2] *:[grid-row:1/2]">
    <div class="flex flex-col items-center justify-center z-10">
      <div class="max-w-[32rem] text-center p-4 bg-slate-700/30 border border-white/30 backdrop-blur-[5px] rounded-xl">
        <h1 class="text-6xl font-medium">Careers</h1>

        <div class="mt-5">
          <p>
            There is a place for everyone of value at {{app.name}}.
          </p>
        </div>
      </div>
    </div>

    <div class="h-96">
      <img src="/img/pages/about/careers.jpg" class="h-full w-full object-cover" />
    </div>
  </div>

  <div class="py-12 flex items-center justify-center">
    <div class="max-w-[30rem] bg-amber-400/10 border border-amber-400/50 rounded-lg p-4 text-amber-400">
      <div class="flex items-center gap-2">
        <iconify-icon icon="lucide:triangle-alert"></iconify-icon>
        <p class="font-semibold">Important</p>
      </div>

      <div class="mt-2 text-sm">
        <p>
          Please, be advised that {{app.name}} is not taking any applications at this time. Do check back later, as this page is regularly updated. Thank you.
        </p>
      </div>
    </div>
  </div>

  <div>
    {{{ data }}}
  </div>

  <div>
    {{> main/cta-banner}}
  </div>
</main>